%h1=@genre.name
-@genre.films.each do |film|
  =render 'films/film',:film=>film
-if @genre.can_be_edited?(@current_user)
  = link_to 'Редактировать', edit_genre_path(@genre)
  \|
= link_to 'Назад', genres_path
