.field_with_errors {
    padding: 2px;
    background-color: #FEEBEB;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid #FFAEAE;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

.field,.actions{
    padding:10px 0;
}

.left{
    float:left;
    padding: 5px 20px 5px 5px;
}
.right{
    float:right;
}
.col{
    overflow:hidden;
}

.clear{
    clear:both;
}

.film,.person{
    border:1px solid #dedede;
    padding:3px;
    margin:2px 0;
}