%h1 Страны
%table
  %thead
    %tr
      %th=Country.human_attribute_name('name')
      %th
      %th
  %tbody
    -@countries.each do |country|
      %tr
        %td=link_to country.name,country
        %td= link_to 'Редактировать', edit_country_path(country)
        %td= link_to 'Удалить', country, :confirm => 'Вы уверены?', :method => :delete
=paginate @countries
%br
= link_to 'Добавить', new_country_path
