#aside.box
  .padding.box
    %p#logo= link_to image_tag("logo.png", :alt=>"Видео каталог"), root_path
  %ul.box
    -Genre.all.each do |genre|
      %li{:id=>genre==@current_genre ? "submenu-active" : nil}=link_to genre.name,genre